*{
	margin: 0px;
	padding: 0px;
   font-family: Century Gothic ;
}

.pricingtitle{
        text-align: center;
        margin-left: 650px;
        float: left;
       color: #0096c7;
}

* {
    box-sizing: border-box;
  }
  

  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  

  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  

  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  


  

  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  

  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  

  .button {
    background-color: #48cae4;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  



  .pricetitles{
    background-color: #48cae4;
     font-size: 25px; 
     font-weight: bold;
     color: white;
  }